header
{
    background-color:grey;
    text-align: right;
    color: white;
    margin :10px;
    border: solid black;
    padding: 10px;
}

.footer
{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    border: solid white;
    
}

.nav-menu
{
 margin: 0px;
 background-color: grey;
 padding-left: 20px;
 border: solid black;
    padding: 10px;
}

.nav-menu-dropdown
{
 display: inline-block;
}

.nav-menu-dropdown a
{
    text-decoration: none;
    color: aliceblue;
}

.nav-menu-dropdown:hover
{
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-menu-dropdown-btn
{
    font-size: 20px;
    color: aliceblue;
    background-color: inherit;
    padding: 12px 14px;
    border: none;

}

.nav-menu-dropdown-content
{
    position: absolute;
    background-color: aliceblue;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    display: none;
}

.nav-menu-dropdown-content a{
    float:none;
    color: cornflowerblue;
    display: block;
text-align: left;
font-size: 16px;

}

.nav-menu-dropdown-content  :hover
{
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-menu-dropdown:hover .nav-menu-dropdown-content
{
    display: block;
}



ul {
    position: relative;
    width: 100px
  }
  
  li {
    float: left;
    width: 25px;
  }
  
  img {
    width: 100%;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
 /* li:nth-child(2) > img {
    animation-delay: 3s;
  }
  
  li:nth-child(3) > img {
    animation-delay: 6s;
  }
  
  li:nth-child(4) > img {
    animation-delay: 9s;
  }
  
  li:nth-child(5) > img {
    animation-delay: 12s;
  } */
  

  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
  }

  img {  
    height: 700px;
    width: 700px;
     
background-color: lightgreen;   
object-position: center ;
border: 5px solid steelblue;  
float: right;
background-attachment: fixed;
background-repeat: no-repeat;


}  
h2{
    text-align: center;
}
.signin{
  z-index:1;
    margin-left: 10%;
    color: black;
    width: 500px;
    padding: 10px;
    position: left;
    font-size: 20px;
    top: 5%;
    left: 30%;
    line-height: 50px;
    border-radius: 10px;
    background-color: grey;
    background: transparent;
    text-align: left;
    vertical-align: left;
    border: none;

}
input{
    height: 30px;
    width: 45%;
    padding-left: 10px;
    border-radius: 8px;
    border: none;
    border-bottom: 2px solid black
}
button{
    width:120px;
    height: 50px;
    padding: 10px;
    float: left;
    vertical-align: middle;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    background-color: palevioletred;
    color: white;
}

